@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Cinzel', serif;
}

#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: black url('loading.gif') no-repeat center;
	z-index: 99999;
}
#popup{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1001;
	font-family: 'Concert One', cursive;

}

#pop{
	width: 500px;
	height: 250px;
	background-image: url('pop.jpg');
	background-size: cover;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 5px 5px #16a085;
	text-align: center;
	font-family: 'Concert One', cursive;
}

#heading{
	transform: translateY(-30px);
	color: #8e44ad;

}

#emailId{
	width: 60%;
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 20px;
}


.submitId{
	background-color: lime;
	border: none;
	font-size: 1rem;
	padding: 0.6rem 1rem;
	color: maroon;
	font-family: 'Concert One', cursive;
}



@font-face {
font-family: myFirstFont;
src: url(GanpatiSymbolys.TTF);
}
header{
	width: 100%;
	height: 100vh;
	background-color: chocolate;
	background-size: 100% 100%;
}
header h1{
	text-align: center;
	word-spacing: 19px;
	font-size: 4em;
	font-weight: 800;
	animation: shiva 1s infinite;
}
header h1 span{
	font-family: myFirstFont;
}
@keyframes shiva{
	0%{color:red;}
	30%{color: pink;}
	50%{color: cyan;}
	75%{color: violet;}
	100%{color: green;}
}
.centerimg{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.centerimg h2{
	width: 107%;
	color: #000;
	text-align: center;
	font-size: 1.6em;
	font-weight: 600;
	word-spacing: 10px;
	animation: shiva2 3s infinite;
}
@keyframes shiva2{
	0%{color:blue;}
	30%{color: green;}
	50%{color: purple;}
	75%{color: maroon;}
	100%{color: aqua;}
}
@media (max-width: 660px){

header h1{

	word-spacing: 5px;
	font-size: 3em;
	}

.centerimg{
	margin-top: 60px;
}

.centerimg img{
	width: 250px;
}

.centerimg h2{
	font-size: 1.2em;
	word-spacing: 0px;
	width: 100%;
}

